
.header {
    height:70px;
}

.icon-logo {
    height:50px;
    width:50px;
}


.nav-links {
    text-decoration: none;
    color:#B8BECD;
    font-size: 14px;
    transition: .3s;
}

.nav-links:hover {
   color: #202336;
   transition: .3s;
}

.btn-for-login {
    border: 1px #FB8F1D solid;
    border-radius: 6px;
    width:130px;
    height:37px;
    background-color: white;
    color:#FB8F1D;
    transition: .3s;
}

.btn-for-login:hover {
    background-color:#FB8F1D;
    color:white;
    transition:.3s;
}

.btn-for-reg {
    border:none;
    border-radius: 6px;
    width:130px;
    height:37px;
    background-color: #FB8F1D;
    color:white;
    transition: .3s;
}

.btn-for-reg:hover {
    background-color:#e0821e;
    color:#e8e5e3;
    transition:.3s;
}

.main-1 {
    height:570px;
    width:93vw;
}

.main-1-content {
    height:500px;
    margin-left:70px;
}

.main-1-h {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.dropdown-container {
    height:150px;
    width:600px;
}

.dropdown-toggle {
    width:180px;
}

.main-1-img {
    height:500px;
    width:550px;
    position: absolute;
    margin-left: 580px;
}

.main-2 {
    height:600px;
}

.main-2-img {
    width:630px;
    height:510px;
}

.main-2-text {
    color:#7D7987;
    line-height: 2.4;
}